#question {
	margin-bottom: 50px;
}

.list-group-item {
	margin-bottom: 10px !important;
}

.follow {
	margin-top: 20px;
}

@media (max-width: 768px) {
    .title div {
        text-align: center;
    }

    .option .list-group-item-text {
    	font-size: 15px !important;
    }
}